.single {
    display: flex;
    width: 100%;

    .singleContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;
            cursor: default;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;

                .title {
                    font-size: 1.4rem;
                    color: lightgray;
                    margin-bottom: 20px;
                    font-style: italic;
                }

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    font-size: 1.8rem;
                    color: #B33771;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 0 5px 0 5px;
                }

                .item {
                    display: flex;
                    gap: 20px;
                    font-size: 1.8rem;

                    .itemImg {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        .itemTitle {
                            margin-bottom: 12px;
                            color: #555;
                        }

                        .detailItem {
                            margin-bottom: 12px;
                            font-size: 1.6rem;

                            .itemKey {
                                font-weight: 600;
                                color: #636e72;
                                margin-right: 12px;
                            }

                            .itemValue {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .right {
                flex: 2;
            }
        }

        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;

            .title {
                font-size: 16px;
                color: lightgray;
                margin-bottom: 20px;
            }
            
        }
    }
}