.navbar {
    height: var(--height-sidebar);
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            border-radius: 10px;
            padding: 5px;
            cursor: pointer;

            input {
                padding: 3px;
                font-size: 1.4rem;
                color: #000d00;
                border: none;
                outline: none;

                &::placeholder {
                    padding: 5px;
                    font-size: 1.4rem;
                    color: #cdcdcd
                }
            }
        }

        .items {
            display: flex;
            align-items: center;
        }
    }
}